<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Herodha | Your loss is our gain </title>
  </head>
  <body>
      <div class="container">
        <form class="form m-1" action="/buy_stock" method="POST">
          <h1>Herodha | Your loss is our gain</h1>
          <h4>Company Name : {{quote['companyName']}}</h4>
          <h4>Company Symbol : {{quote['symbol']}}</h4>
          <h4>Buying Price : {{quote['lastPrice']}}</h4>
          <h4>52 weeks high : {{quote['high52']}}</h4>
          <h4>52 weeks low : {{quote['low52']}}</h4>
          <h4>day open : {{quote['open']}}</h4>
          <h4>day high : {{quote['dayHigh']}}</h4>
          <h4>day low : {{quote['dayLow']}}</h4>
          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input class="form-control disabled" type="text" name="companyName" value="{{quote['companyName']}}" readonly>
          </div>
          <div class="form-group">
              <label for="companyName">Symbol</label>
              <input class="form-control disabled" type="text" name="symbol" value="{{quote['symbol']}}" readonly>
          </div>

          <div class="form-group">
            <label for="companyName">Current price</label>
            <input class="form-control disabled" type="text" name="lastPrice" value="{{quote['lastPrice']}}" readonly>
          </div>

          <div class="form-group">
            <label for="qty">Quantity</label>
            <input class="form-control" type="number" name="qty" min="1">
          </div>

          <div class="form-group">
              <label for="total">Total</label>
              <input class="form-control disabled" type="text" name="total" readonly>
          </div>

          <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </form>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $('input[name="qty"]').change(()=>{
        let qtyInput = $('input[name="qty"]').val()
        let lastPriceInput = $('input[name="lastPrice"').val()
        let qty = Number(qtyInput)
        let lastPrice = Number(lastPriceInput)
        let total = qty * lastPrice
        $('input[name="total"]').val(total)
      })
    </script>
  </body>
</html>