{% extends "base.html" %}

{% block content %}
<h4>Hi {{ current_user.username }}</h4>
        <form class="form" action="/search_stocks" method="post">
          <div class="from-group">
            <label for="stock">Stock code</label>
            <input class="form-control" type="text" name=stock>
            <button class="btn btn-success btn-block my-1"type="submit">Search</button>
          </div>
        </form>
        <h3>Market Action</h3>
        <p>Index , Price Price Change, percentageChange</p>
        {{nifty_50['name'], nifty_50['lastPrice']    ,nifty_50['change']    ,nifty_50['pChange']   }} 
        <br>
        {{nifty_bank['name'], nifty_bank['lastPrice']  ,nifty_bank['change']  ,nifty_bank['pChange']      }}
        <br>
        {{nifty_pharma['name'], nifty_pharma['lastPrice'],nifty_pharma['change'],nifty_pharma['pChange']     }}
        <br>
        {{nifty_it['name'], nifty_it['lastPrice']    ,nifty_it['change']    ,nifty_it['pChange']   }}
        <br>
        {{nifty_auto['name'], nifty_auto['lastPrice']  ,nifty_auto['change']  ,nifty_auto['pChange']     }}

        <h3>Top Gainers </h3>
        <p>OpenPrice LTP HighPrice</p>
        {% for gainer in top_gainers %}
          {{gainer['symbol']}} {{gainer['openPrice']}} {{gainer['ltp']}} {{gainer['highPrice']}}
          <br>
        {% endfor %}
        <h3>Top Losers</h3>
        <p>OpenPrice LTP HighPrice</p>
        {% for loser in top_losers %}
          {{loser['symbol']}} {{loser['openPrice']}} {{loser['ltp']}} {{loser['highPrice']}}
          <br>
        {% endfor %}
        <div id="nse-chart"></div>
{% endblock %}