{% extends "base.html" %}
{% block content %}
<p>{{ user.username}}</p>
<p>{{ user.email}}</p>
<p>Funds : {{user.funds|round(1)}}
<a href="{{ url_for('edit_profile')}}">Edit Your Profile</a>
<button onclick="generateFile({{current_user.id}})" id="generate-file" class="btn btn-lg btn-primary">Generate File</button>
<a href="" target="_blank" id="download-button" class="btn btn-danger btn-lg" download style="display:none">Download</a>
<h4>Current holdings</h4>
{% for current_holding in user.current_holdings %}
    <p>=======================</p>
    <p>Comapany Name :{{current_holding.company_name}}</p>
    <p>Comapany Symbol :<span id="company-symbol">{{current_holding.company_code}}</span></p>
    <p>Quantity: <span id="qty">{{current_holding.qty}}</span></p>
    <p>Buy Price : {{current_holding.last_price}}</p>
    <p>Current Price : <span id="current-price">Current Price</span></p>
    <p>Total : <span id="total">{{current_holding.Total}}</span></p>
    <p>Profit : <span id="profit">Profit</span></p>
    <form action="{{url_for('sell_stock', transaction_id=current_holding.id)}}" method="POST"> 
        <button class="btn btn-danger">Sell</button>
    </form>
{% endfor %}
<h4>Past company</h4>
{% for past_holding in user.past_holdings %}
    <p>=======================</p>
    <p>Comapany Name :{{past_holding.company_name}}</p>
    <p>Comapany Symbol :{{past_holding.company_code}}</p>
    <p>Quantity: {{past_holding.qty}}</p>
    <p>Buying Price : {{past_holding.buying_price}}</p>
    <p>Selling Price : {{ past_holding.selling_price }}</p>
    <p>Total Buying : {{past_holding.total_buying}}</p>
    <p>Total Selling : {{ past_holding.total_selling }}</p>
    <p>Profit : {{past_holding.profit}}</p>
{% endfor %}

{% endblock %}