<!DOCTYPE html>
<html lang="en">

<head>
    <title>Herodha | Be the HERO of Dalal Street</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="static/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!--===============================================================================================-->
    <script src="https://use.fontawesome.com/d3b6f55638.js"></script>
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('static/images/bg-01.jpg');">
            <div class="wrap-login100">
                    {% if error or form.username.errors or form.password.errors %}
                    <div class="alert alert-danger text-center" role="alert">
                        Oops!! An error Please try again
                    </div>
                    {% endif%}
                <form action="" method="POST" class="login100-form validate-form" novalidate>
                    {{ form.hidden_tag()}}
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Register
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        {{ form.username(class='input100', placeholder='Username', size=32)}}
						<span class="focus-input100" data-placeholder="&#xf207;"></span>

                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                            {{ form.email(class='input100', placeholder='Email', size=64)}}
                            <span class="focus-input100" data-placeholder="&#xf1d8;"></span>
    
                        </div>
                    
                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                                {{ form.password(class='input100', placeholder='Enter Password', size=32)}}
                                <span class="focus-input100" data-placeholder="&#xf191;"></span>
        
                            </div>
                        
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                            {{ form.password2(class='input100', placeholder='Confirm Passwrod', size=32)}}
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
    
                        </div>

                    <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                    Sign Up
                                </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="{{ url_for('login') }}">
                            Already a User? Log In
                        </a>
                    </div>
            </div>
        </form>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/bootstrap/js/popper.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/daterangepicker/moment.min.js"></script>
    <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="static/js/main.js"></script>

</body>

</html>